Flask==1.1.4
Flask-SQLAlchemy==2.5.1
redis==4.0.2
redislite==6.0.674960
Flask-Script==2.0.6
schedule==1.1.0
bumpversion==0.6.0
sentry-sdk==1.5.1
blinker==1.4
PyMySQL==1.0.2

pytest==6.2.5
tox==3.24.4
flake8==4.0.1
coverage==6.2
alibabacloud-ecs20140526==4.24.17
alibabacloud-iot20180120==3.0.6
alibabacloud-tea-console==0.0.1
mq-http-sdk==1.0.3
